/* Decker Ayers / March 2023 */ 
body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.tab {
    display: inline-block;
    margin-left: 4em;
}

.container {
    text-align: center;
    margin-top: 40px;
}

#name {
    font-size: 3rem;
    color: #333;
}

.blog-section {
    margin-top: 40px;
    width: 80%;
    max-width: 800px;
}

.blog-post {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.blog-post h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.read-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-button:hover {
    background-color: #555;
    transition-duration: 0.4s;
}
.read-button:hover{
    background-color: #000;
}

.about-section {
    margin-top: 40px;
    width: 80%;
    max-width: 800px;
}
.contact-form {
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.contact-form h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.contact-form form label {
    display: block;
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 5px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form .submit-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form .submit-button:hover {
    background-color: #555;
    transition-duration: 0.4s;
}

.back-button {
    display: flex;
    align-items: left;
    margin-top: 20px;
    margin-bottom: 40px;
}

.back-button a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Add some space between the buttons */
}

.back-button a:first-child {
    margin-right: auto; /* Push the first button to the left */
    margin-left: 0; /* Reset left margin */
}

.back-button a:hover {
    background-color: #555;
    transition-duration: 0.4s;
}